<div id="list">
  <input type="text" id="theList" class="filterInput" onkeyup="listFilter_1(this,'items')" placeholder="Filter Names...">
  <ul id="items" class="filterList">
    <li class="listItem name">
      <a href="#">John Smith</a>
    </li>
    <li class="listItem">
      <a href="#">Sam Johnson</a>
    </li>
    <li class="listItem">
      <a href="#">Sally Sims</a>
    </li>
    <li class="listItem">
      <a href="#">Jack Packer</a>
    </li>
    <li class="listItem">
      <a href="#">Tim Sox</a>
    </li>
  </ul>
</div>
