<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <h1 id="modalTitle"></h1>
    <hr>
    <div id="modalMsg"></div>
    <hr>
    <div id="modalFooter"></div>
  </div>

</div>
